<form (ngSubmit)="onClickSubmit(formName.value)" [formGroup]="formName"  class="flex flex-col space-y-4">
  <div class="flex flex-col space-y-1">
    <label for="name" class="font-medium text-blue-900">Name</label>
    <input formControlName="name" type="text" name="name" id="name" placeholder="Enter Name" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-blue-900 focus:ring-1 focus:ring-offset-4 focus:ring-offset-white block w-full p-2.5">
  </div>
  <div class="flex flex-col space-y-1">
    <label for="email" class="font-medium text-blue-900">Email</label>
    <input formControlName="email" type="text" name="email" id="email" placeholder="Enter Email" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-blue-900 focus:ring-1 focus:ring-offset-4 focus:ring-offset-white block w-full p-2.5">
  </div>
  <div class="flex flex-col space-y-1">
    <label for="jobTitle" class="font-medium text-blue-900">Job title</label>
    <input formControlName="jobTitle" type="text" name="jobTitle" id="jobTitle" placeholder="Enter Job Title" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-blue-900 focus:ring-1 focus:ring-offset-4 focus:ring-offset-white block w-full p-2.5">
  </div>
  <div class="flex flex-col space-y-1">
    <label for="phone" class="font-medium text-blue-900">Phone</label>
    <input formControlName="phone" type="text" name="phone" id="phone" placeholder="Enter Phone" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-blue-900 focus:ring-1 focus:ring-offset-4 focus:ring-offset-white block w-full p-2.5">
  </div>
  <div class="flex flex-col space-y-1">
    <label for="imageUrl" class="font-medium text-blue-900">Image Url</label>
    <input formControlName="imageUrl" type="text" name="imageUrl" id="imageUrl" placeholder="Enter Image Url" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-blue-900 focus:ring-1 focus:ring-offset-4 focus:ring-offset-white block w-full p-2.5">
  </div>
  <div class="flex justify-end">
    <button [disabled]="formName.invalid" type="submit"
            [className]="formName.invalid ? 'bg-blue-400 cursor-not-allowed text-white font-medium rounded-lg text-sm px-5 py-2.5' : 'cursor-pointer text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none focus:ring-blue-900 focus:ring-1 focus:ring-offset-4 focus:ring-offset-white'">
      Save changes
    </button>
  </div>
</form>
