<div class="bg-blue-900 text-white w-screen flex items-center px-2 sm:px-8 h-16">
  <div class="pr-8">
    Employee Management
  </div>
  <div class="hidden sm:flex items-center flex-1">
    <div>
      <button type="button"
              (click)="onOpenModal(undefined,'add-modal-template')"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-pink-50 font-medium rounded-lg text-sm px-5 py-2.5">
        Add employee
      </button>
    </div>
    <div class="ml-auto">
      <input type="email" id="email"
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:outline-none block w-full p-2.5"
             placeholder="Search employees" required>
    </div>
  </div>
</div>
