<div>
  <div
    class="fixed top-2/4 bottom-auto left-2/4 -translate-x-2/4 -translate-y-2/4 bg-white z-900 w-10/12 small:w-1/2 max-w-xl overflow-hidden p-8 rounded-md"
    style="z-index: 1000">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-lg pb-1 text-blue-900">{{title}}</h1>
      <i (click)="onCloseModal()"
        class="material-icons cursor-pointer p-1 text-sm font-medium text-gray-900 bg-white border-blue-200 rounded-medium border border-gray-500 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-blue-900 focus:ring-1 focus:ring-offset-4 focus:ring-offset-white">
        close
      </i>
    </div>
    <hr/>
    <div class="pt-4">
      <ng-content></ng-content>
    </div>
  </div>
  <div (click)="onCloseModal()"
       class="bg-blue-500 opacity-50 w-screen h-screen fixed top-0 left-0 right-0 bottom-0"
       style="z-index: 900"></div>
</div>
