<app-header></app-header>
<div
  class="container m-auto mt-10 justify-center grid grid-flow-row grid-cols-1 sm:gap-7 sm:grid-cols-2 lg:grid-cols-4">
  <div *ngFor="let employee of employees">
    <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md p-2 overflow-hidden">

      <app-dropdown [selectedEmployee]="selectedEmployee"
                    [employee]="employee"
                    [handleDropdown]="handleDropdown"
      ></app-dropdown>

      <app-employee-card [employee]="employee"></app-employee-card>

    </div>
  </div>
</div>
